

.header h1 {
	font-family: helvetica;
	color: #919191;
}

.header h2 {
	font-family: helvetica;
	color: #919191;
}

.inner-form h2 {
	font-family: helvetica;
	color: #919191;
	padding-left: 10px;
	margin: 5px;
}

.inner-item h3 {
	font-family: helvetica;
	color: #919191;
	padding-left: 0px;
	margin: 0px;
}

.inner-item p {
	color: #00A0D1;
}

div.header {
	font-family: helvetica;
	background-color: #D2D2D2;
	border: 10px solid #D2D2D2;
	border-radius: 10px 10px 10px 10px;
	text-align: center;
	margin-left: 120px;
	margin-right: 120px; 
}

div.inner-header {
	background-color: #EBEBEB;
	border-radius: 10px;
	padding: 3px;
}

div.form {
	font-family: helvetica;
	background-color: #D2D2D2;
	border: 5px solid #D0D0D0;
	padding: 5px;
	border-radius: 10px;
	margin: 10px;
}

div.inner-form {
	background-color: #EBEBEB;
	border-radius: 10px;
	padding: 5px;
}

input {
	font-family: helvetica;
	border: 5px solid #D0D0D0;
	background-color: #D2D2D2;
	display: block;
	width: 97%;
	margin: 10px;
	padding: 5px;
	border-radius: 10px;
}

input.URL {
	font-size: 20px;
	color: #00A0D1;
}

.item a {
	background-color: #DD82DD;
	color: #E8FDFF;
	text-decoration: none;
	display: inline-block;
	border-radius: 5px;
	border: 2px solid #B36FB3;
	width: 95%;
	font-size: 20px;
	padding: 5px;
}

.item a:visited {
	color:#00A0D1;
}  /* visited link */

.item a:hover {
	background-color:#DFA5DF;
	border-color: #DB6CDB;
}

a:active {color:#D2D2D2;}  /* selected link */

p.description {
	background-color: #DD82DD;
	border-radius: 5px;
	color: #E8FDFF;
	border: 2px solid #B36FB3;
	width: 95%;
	font-size: 20px;
	margin: 10px;
	padding: 5px;
}

input.description {
	color: #00A0D1;
	font-size: 16px;
}


div.list-holder {
	font-family: helvetica;
	background-color: #00A0D1;
	border: 5px solid #D0D0D0;
	padding: 5px;
	border-radius: 10px;
	margin: 10px;
}

div.item {
	font-family: helvetica;
	background-color: #D2D2D2;
	padding: 5px;
	border-radius: 10px;
	margin: 10px;
	text-indent: 10px;
	color: #C453EE;
	font-size: 20px;
}

div.inner-item {
	background-color: #EBEBEB;
	border-radius: 10px;
	padding: 5px;
}

input[type="submit"] {
	background-color: #00A0D1;
	border-radius: 10px;
	font-size: 20px;
	color: #D2D2D2;
	width: 40%;
}

input[type="submit"]:hover {
	color: #EBEBEB;
	cursor: pointer;
	box-shadow: 2px 2px #00A0D1;
}

div.wrapper {
    text-align: right;
	width: 87%;
}


body {

	background-color: #E6E6E6;
}





