<div class="form">
  <div class="inner-form">
    <%= form_for(@info) do |f| %>
      <h2>Link:</h2>
      <%= f.text_field :url, :class =>"URL" %>
      <h2>Description:</h2>
      <%= f.text_field :description, :class =>"URL" %>
      <div class="wrapper">
        <%= f.submit %>
      </div>
    <% end %>
  </div>
</div>

